@font-face {
    font-family: 'PKMN RBYGSC';
    src: local('PKMN RBYGSC'), url('assets/font/PKMN\ RBYGSC.ttf');
}


h1 {
    font-family: 'PKMN RBYGSC';
    text-align: center;
    margin-bottom: 1.5rem;
}

h2, h3, h4, h6, p {
    font-family: 'PKMN RBYGSC';    
}

#master-div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 75vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#play-button {
    animation: blink .5s;
    animation-iteration-count: infinite;
    background-image: url('assets/arrow.png');
    background-size: cover;
    width: 81px;
    height: 60px;
    border: 0px;
    position: absolute;
}

#time-for-war-div{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 25vh;
    width: 40vw;
    min-width: 500px;
}

#replacement-h2{
    margin-top: -100px; 
}

.buttons{
    text-align: center;
    margin-top: 50px;
}

.container-winner {  
    display: none;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      'winner-div winner-img-div winner-plays-div ';
}

.hide-master-div{
    display: none;
}

.hidden {
    filter: contrast(0%) brightness(0%);
}

.home-parent{
    position: fixed;
    width: 100px;
    height: 100px;
    top: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;
}

.home-child {
    width: 100px;
    height: 100px;
    position: absolute;
}

.hp {
    height: 12px;
    position: relative;
    background: #DCE0E3;
    border-radius: 8px;
    width: 100%;
}

.hp > span {
	display: block;
	height: 100%;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-radius-topright: 8px;
    -moz-border-radius-bottomright: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
	background-color: #20df28;
	position: relative;
	overflow: hidden;
}

.initial-hidden {
    visibility: hidden;
}
  
.player-one-pokemon{ 
    grid-area: player-one-pokemon;
    margin-top: 1rem;
    background-image: url('assets/battle-bg.png');
    background-position: center;
    background-repeat: no-repeat;
}
  
.player-one-stats { 
    grid-area: player-one-stats;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 75%;
    height: 100%;
    padding: 0 10px;
}
  
.player-two-pokemon{ 
    grid-area: player-two-pokemon;
    background-image: url('assets/battle-bg.png');
    background-position: center;
    background-repeat: no-repeat;
}
  
.player-two-stats { 
    grid-area: player-two-stats;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 75%;
    height: 100%;
    padding: 0 10px;
}

.pokemon-container {  
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      'player-two-stats player-two-pokemon'
      'player-one-pokemon player-one-stats';
}

.pokemon-img {
    max-width: 40%;
    height: auto;
}

.pokemon-img-war {
    max-width: 20%;
    height: 20%;
}

.winner-div {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.winner-img-div {
    margin: auto;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.winner-plays-div {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.volume-parent{
    position: fixed;
    width: 100px;
    height: 100px;
    bottom: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;
}

.volume-child {
    width: 100px;
    height: 100px;
    position: absolute;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media screen and (max-device-width: 850px) {
    h4{
        margin-top: .5rem;
    }
    
    #master-div{
        width: 100vw;
        height: 100vh;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    #player-two-name, #player-one-name{
        margin-bottom: 0;
    }

    #player-two-hp-div{
        margin-bottom: 2.5rem;
    }

    #player-two-stats, #player-one-stats-h3{
        margin-top: .5rem;
        margin-bottom: 0;
    }
    
    #winner-img{
        width: 100%;
    }

    .container-winner {  
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        grid-template-columns: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          'winner-div' 'winner-img-div' 'winner-plays-div';
    }

    .parent-winner-div {
        width: 100vw;
        height: 100vh;
        overflow-x: hidden;
        overflow-y: hidden;
        position: relative;
        display: none;
    }

    .player-one-pokemon, .player-two-pokemon {
        background-position: bottom;
        background-size: contain;
    }

    .player-two-stats, .player-one-stats{
        width: 100%;
    }

    .pokemon-container{
        grid-template-columns: 1fr;
        grid-template-areas:
        'player-one-pokemon' 'player-one-stats'
        'player-two-pokemon' 'player-two-stats';        
    }

    .pokemon-img{
        width: 25%;
    }
    
    .winner-img-div {
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    
}

@media screen and (min-device-width: 300px) and (max-device-width: 549px) {
    #header {
        margin-bottom: -2rem;
    }

    #header-h6 {
        margin-top: -1rem;
        margin-bottom: 1.5rem;
    }

    #loudred {
        display: none;
    }

    #master-div{
        background: pink;
        width: 100vw;
        /* height: auto; */
        overflow-x: hidden;
    }

    #player-one-hp-div{
        margin-bottom: 1.5rem;
    }

    #player-one-pokemon-img {
        margin-top: 1.5rem;
    }

    #player-two-name{
        margin-bottom: -.5rem;
    }

    #player-two-stats-h3 {
        margin-bottom: -.25rem;
    }

    #time-for-war-div{
        margin-left: -52px;
    }

    .home-parent {
        display: none;
    }

    .hp{
        width: 75%;
    }

    .parent-winner-div {
        width: 100vw;
        height: 100vh;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .pokemon-container{
        align-items: center;
        justify-content: center;
        grid-template-columns: 1fr;
        grid-template-areas:
        'player-one-pokemon' 'player-one-stats'
        'player-two-pokemon' 'player-two-stats'; 
    }

    .pokemon-img{
        width: 25%;
    }
}

@media screen and (min-device-width: 250px) and (max-device-width: 549px) and (max-device-height: 750px){
    
    h4 {
        margin-top: .5rem;
    }

    #header {
        margin-top: .5rem;
        margin-bottom: -2rem;
    }

    #header-h6 {
        margin-top: -1rem;
        margin-bottom: 1.5rem;
    }
    
    #master-div{
        width: 100vw;
        height: 100vh;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    #player-one-hp-div{
        margin-bottom: 1.5rem;
    }

    #player-one-name{
        margin-top: 0;
    }

    #player-two-pokemon-img {
        margin-bottom: -.5rem;
    }
    
    #player-two-name {
        margin-bottom: -.5rem;
    }

    #player-two-stats-h3 {
        margin-bottom: 0rem;
    }
    
    #time-for-war-div{
        margin-left: -70px;
    }

    .hp{
        width: 75%;
    }

    .parent-winner-div {
        width: 100vw;
        height: 100vh;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .player-two-stats, .player-one-stats{
        width: 100%;
    }

    .pokemon-container{
        align-items: center;
        justify-content: center;
        grid-template-columns: 1fr;
        grid-template-areas:
        'player-one-pokemon' 'player-one-stats'
        'player-two-pokemon' 'player-two-stats'; 
    }

    .pokemon-img{
        width: 25%;
    }
}

@media screen and (min-device-width: 250px) and (max-device-width: 549px) and (max-device-height: 670px){
    
    #header {
        margin-top: .5rem;
        margin-bottom: -2rem;
    }

    #header-h6 {
        margin-top: -1rem;
        margin-bottom: 1.5rem;
    }
    
    #master-div{
        width: 100vw;
        height: 100vh;
        overflow-x: hidden;
        overflow-y: hidden;
    }
 
    #player-one-hp-div{
        margin-top: -.5rem;
        margin-bottom: 1.5rem;
    }

    #player-one-name{
        margin-top: -.5rem;
    }

    #player-one-pokemon-img {
        margin-top: 0rem;
    }

    #player-two-name {
        margin-top: 0rem;
        margin-bottom: -1rem;
    }
    #player-two-stats-h3 {
        margin-bottom: 0rem;
    }

    #time-for-war-div{
        margin-left: -52px;
    }

    .parent-winner-div {
        width: 100vw;
        height: 100vh;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .player-two-stats, .player-one-stats{
        width: 100%;
    }
}